/** 
* 
* BC Public Service Agency's Moodle installation custom CSS 
* overrides.
* @author: allan.haggett@gov.bc.ca
*
*/

/** 
 * The primary nav is set to the bottom of the parent
 * so when we apply the below things look out of whack.
 * I don't have time to figure this out right now, and
 * actually like the height of the stock bootstrap navbar.
 */

/**
#primarynav {
    padding: 4em 0; 
} 
*/

#primarynav .dropdown-toggle::after,
#primarynav .editmode-switch-form label,
#primarynav .nav-link {
    color: #FFF;
}

#primarynav .nav-link:hover, 
#primarynav .nav-link:focus {
    background-color: #004477;
    color: #FFF;
}

#primarynav .moremenu .nav-link.active,
#primarynav .moremenu .nav-link.active:focus, 
#primarynav .moremenu .nav-link.active:hover {
    border-bottom-color: #eda927;
    font-weight: bold;
}
